/**
 *
 * You can write your CSS code here, DO NOT touch the default JavaScript file
 * because it will make it harder for you to update.
 * 
 */
td,
th {
    text-align: center;
}
.row {
    margin-bottom: 20px;
}
.card-footer.text-right {
    /* margin: 10px !important; */
}
.card-body {
    margin-bottom: 40px;
}
#example_paginate,
#example2_paginate {
    position: absolute !important;
    right: 0 !important;
    margin-top: 15px;
}
#example_info,
#example2_info {
    margin-top: 15px;
}
#example_filter {
    position: absolute !important;
    right: 20px;
    bottom: -10px;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
}
#example_wrapper {
    margin: 35px;
}
span,
.table:not(.table-sm) thead th {
    color: #16192f !important;
}
@media (min-width: 1300px) {
    #update-product-list {
        width: 10% !important;
        position: absolute !important;
        right: 40px !important;
    }
}
@media (min-width: 1600px) {
    .text-right {
        position: absolute !important;
        right: 20px;
        bottom: -15px;
    }
    .table-responsive {
        display: block;
        width: 100%;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
    }
    .card-footer.text-right {
        display: block;
        margin-bottom: 10px;
        width: 100%;
    }
}

#update-product-list {
    width: 150px;
    height: 40px;
    background: #16192f;
    border: #16192f;
    color: white;
}
#update-product-list:hover,
.btn.btn-primary.edit:hover {
    background-color: #394eea !important;
    border: #394eea;
    color: #fff;
}
.btn.btn-primary.edit {
    color: #fff;
}
/*# sourceMappingURL=custom.css.map */
.totalNew {
    background: rgba(0, 0, 0, 0.04) !important;
    color: black !important;
    font-weight: bold;
}
.thh th,
.thh td {
    font-size: 25px !important;
    color: black !important;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    background: whtie !important;
    border: 1px solid black !important;
}
/* .notavb{
    background-color: red;
}
.avb{
    background-color: green!important;
} */

.thh2 th,
.thh2 td {
    font-size: 20px !important;
    color: black !important;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    background: whtie !important;
    border: 1px solid white !important;
}
.thh2 tr {
    background: white !important;
}
.margin-check {
    /* display: inline-block; */
    position: relative;
}

.margin-check:after {
    position: absolute;
    content: "";
    border-bottom: 2px solid black;
    width: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    left: 50%;
}
.btn-primary,
.btn-primary.disabled {
    color: white !important;
}
